@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<main aria-labelledby="title">
    
        <h4 id="title">@ViewBag.Title.</h4><hr />
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</main>
